<!doctype html>
<html class="no-js" lang="en">
<head>
	<title>Vend Application Credits</title>
	<meta charset="utf-8">
	<!-- Mobile viewport optimized -->
	<meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1.0">
	<!-- CSS: implied media=all -->
	<link rel="stylesheet" href="<?php echo Func::getBaseUrl() . "/" . SA_DIR_INDEXPATH; ?>?/css/admin/<?php echo SA_PRODUCT_VERSION; ?>/">
</head>
<body>
	<div id="admin">
		<div class="Dialog">
			<div class="Header">Vend Application Credits</div>
			<div class="Content">
				<div class="Markdown">
					<h2 title="Intothedarkroom">Intothedarkroom</h2>
					<span>Intothedarkroom creates the best photography websites, photography blogs, photo carts and slideshows for professional photographers worldwide.</span>
					<a href="https://intothedarkroom.com/" target="_blank">Photo Cart</a>
					<h2>Javascript</h2>
					<ul>
						<li>jQuery - <a href="https://jquery.com/">Visit Site</a></li>
						<li>Modernizr - <a href="http://www.modernizr.com/">Visit Site</a></li>
						<li>jQuery UI - <a href="http://jqueryui.com/">Visit Site</a></li>
						<li>jPlayer Plugin - <a href="http://www.jplayer.org">Visit Site</a></li>
						<li>jQuery Hashchange - <a href="http://benalman.com/projects/jquery-hashchange-plugin/">Visit Site</a></li>
						<li>jQuery Browser - <a href="https://github.com/gabceb/jquery-browser-plugin/">Visit Site</a></li>
						<li>jQuery EventDrag - <a href="http://threedubmedia.com">Visit Site</a></li>
						<li>jQuery Mousewheel - <a href="http://brandonaaron.net">Visit Site</a></li>
						<li>touchWipe - <a href="http://www.netcu.de/">Visit Site</a></li>
						<li>JavaScript MD5 - <a href="https://blueimp.net/">Visit Site</a></li>
						<li>mousewheelStopPropagation.js</li>
						<li>spin.js - <a href="http://spin.js.org/">Visit Site</a></li>
					</ul>
					<h2>PHP</h2>
					<ul>
						<li>Campaign Monitor - <a href="http://www.campaignmonitor.com/">Visit Site</a></li>
						<li>getID3 - <a href="http://getid3.sourceforge.net/">Visit Site</a></li>
						<li>PclZip - <a href="http://www.phpconcept.net/">Visit Site</a></li>
						<li>Composer - <a href="https://getcomposer.org/">Visit Site</a></li>
						<li>Mailchimp - <a href="http://mailchimp.com/">Visit Site</a></li>
						<li>Dropbox - <a href="https://kunalvarma05.github.io/dropbox-php-sdk/">Visit Site</a></li>
						<li>Markdown - <a href="http://daringfireball.net/projects/markdown/">Visit Site</a></li>
						<li>mobiledetect - <a href="http://mobiledetect.net/">Visit Site</a></li>
						<li>Omnipay - <a href="https://omnipay.thephpleague.com/">Visit Site</a></li>
						<li>PHPMailer - <a href="https://github.com/PHPMailer/PHPMailer">Visit Site</a></li>
						<li>GD Gradient Fill - <a href="http://planetozh.com/blog/my-projects/images-php-gd-gradient-fill/">Visit Site</a></li>
					</ul>
					<h2>Additional Admin Libraries</h2>
					<ul>
						<li>Fileicon - <a href="//github.com/picturepan2/fileicon.css">Visit Site</a></li>
						<li>Bootstrap - <a href="https://getbootstrap.com/">Visit Site</a></li>
						<li>jQuery Toggles - <a href="https://github.com/simontabor/jquery-toggles">Visit Site</a></li>
						<li>Clipboard - <a href="https://zenorocha.github.io/clipboard.js">Visit Site</a></li>
						<li>Datatables - <a href="https://datatables.net/">Visit Site</a></li>
						<li>Alphanum - <a href="http://github.com/KevinSheedy/jquery.alphanum">Visit Site</a></li>
						<li>jQuery Selection - <a href="http://blog.madapaja.net/">Visit Site</a></li>
						<li>MobileDetect - <a href="https://github.com/hgoebl/mobile-detect.js">Visit Site</a></li>
						<li>SHA1 - <a href="https://github.com/emn178/js-sha1">Visit Site</a></li>
						<li>Showdown - <a href="https://github.com/showdownjs/showdown">Visit Site</a></li>
						<li>simplemde - <a href="https://github.com/NextStepWebs/simplemde-markdown-editor">Visit Site</a></li>
						<li>Spectrum - <a href="http://bgrins.github.io/spectrum/">Visit Site</a></li>
					</ul>
				</div>
			</div>
			<div class="Footer"></div>
		</div>
	</div>
</body>
